.container {
  width: 100%;
  height: 200px;
}

.nav {
  background-color: black;
}

.nav ul,
li {
  display: inline-block;
  color: white;
}

.nav li {
  margin-left: -25px;
  margin-right: 290px;
  font-size: 14px;
}

.main {
  background-color: rgb(233, 233, 233);
  margin-top: -20px;
  width: 1200px;
  height: 800px;
}

.main h4 {
  padding: 10px;
  padding-top: 75px;
}

.main img,
p {
  padding: 10px;
}

.sidebar {
  background-color: black;
  width: 293px;
  height: 795px;
  margin-top: -819px;
  margin-left: 1190px;
  color: white;
}

.sidebar h2 {
  padding-top: 50px;
  margin-left: 10px;
}

.sidebar img {
  margin-left: 10px;
}

.footer {
  background-color: black;
  margin-top: -15px;
}

.footer h3 {
  padding: 10px;
  color: white;
  text-align: center;
}